.board {
  margin-top: 70px;
  
  &__columns {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $screen-md) {
    .board__columns {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}