.dashboard {
  margin: 70px;

  &__section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__section-title {
    font-family: $normal-stack;
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.7;
    text-transform: uppercase;
    margin-bottom: 36px;
  }

  @media (min-width: $screen-md) {
    .dashboard__section-content {
      flex-direction: row;
    }
  }
}