.button {
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  
  &--primary {
    color: white;
    background-color: $primary-color;
    padding: 14px 48px;
  }

  &--action {
    background-color: white;
    padding: 4px 16px;
    color: black;
  }
}
